<h3>Fwitter Users:</h3>
<% @users.each do |user| %>
  <p><%= user.username %></p>
<% end %>


<form action="/sign-up" method="POST">
  <p><input type="text" name="username" value="Enter your username" class="enter-user"></p>
  <p><input type="text" name="email" value="Enter your email" class="enter-email"></p>
  <input class="btn btn-primary" type="submit" value="Sign Up" class="submit-button">
</form>